body{
	background-color: white;
    text-align: center;
}
h2{
	color: lightblue;
	text-align: left;
}

p{
	font-family: verdana;
	font-size: 20px;
}
#panelpic1{
            content: url(file:///D:/MOHIT/HTML/images.jpg);
            float: left;
            width: 250px;
            height: 150px;
            vertical-align: middle;               
           }